.app-content {
  margin: auto 10px;
  width: 100%;
}

.list-box {
  list-style: none;
}
.list-box-item {
  margin: 10px 10px 0px 0px;
  height: 150px;
  width: 150px;
  float: left;
  position: relative;
  list-style: none;
}
.list-box-item::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 8px;
  right: 2px;
  width: 50%;
  top: 80%;
  background: #777;

  -webkit-box-shadow: 0 10px 5px #777;
  -moz-box-shadow: 0 10px 5px #777;
  box-shadow: 0 10px 5px #777;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}
.list-box-item:hover:after {
  -webkit-box-shadow: 0 10px 5px #777;
  -moz-box-shadow: 0 10px 5px #777;
  box-shadow: 0 10px 5px #777;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  transition: all 1s;
}
.list-box-item::before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 8px;
  left: 2px;
  width: 50%;
  top: 80%;
  background: #777;

  -webkit-box-shadow: 0 10px 5px #777;
  -moz-box-shadow: 0 10px 5px #777;
  box-shadow: 0 10px 5px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.list-box-item.bright {
  background-color: #a1ff24;
}
.list-box-item.high {
  background-color: #ee0adb;
}
.list-box-item.dark {
  background-color: #0a74ee;
}

.list-box-item .content input {
  padding: 5px;
}
.list-box-item .content input,
.list-box-item .content textarea {
  width: 100%;
  border: none;
  border: solid 1px transparent;
  background-color: transparent;
}
.list-box-item .content input:hover,
.list-box-item .content textarea:hover,
.list-box-item .content input:focus,
.list-box-item .content textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 3px 1px #33333340;
}
.list-box-item .content input.title {
  font-size: 1em;
  text-transform: uppercase;
}
.list-box-item .content textarea {
  resize: none;
  padding: 5px 5px 0px 5px;
}
.list-box-item .tail .tail-right {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.list-box-item .tail .tail-left {
  font-size: 0.7em;
  position: absolute;
  left: 0;
  bottom: 0;
}

.list-box-item .fa-trash {
  display: none;
  transition: color 0.5s, font-size 1s;
}
.list-box-item:hover .fa-trash {
  display: inline;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
  font-size: 1.1em;
}

/* .btn-box-item {
  margin: 10px 10px 0px 0px;
  height: 150px;
  width: 150px;
  background: transparent;
  border: none;
  border: dashed 1px #c9c9c9;
  color: #4a148c;
} */

.btn-box-item:hover {
  border: solid 2px #4a148c;
  cursor: pointer;
}
