.app-content {
  margin: auto;
  width: 100%;
}

.main-content {
}

.list-box {
  list-style: none;
}

h1 {
  margin: 20px 0px;
}

.list-box-item {
  margin: 10px 10px 0px 0px;
  height: 150px;
  width: 150px;
  float: left;
  position: relative;
}

.btn-box-item {
  margin: 10px 10px 0px 0px;
  height: 150px;
  width: 150px;
  background: transparent;
  border: none;
  border: dashed 1px #c9c9c9;
  color: #4a148c;
}

.btn-box-item:hover {
  border: solid 2px #4a148c;
  cursor: pointer;
}

.clear {
  clear: both;
}

.list-box-item .content input,
.list-box-item .content textarea {
  width: 100%;
  border: none;
  border: solid 1px transparent;
  background-color: transparent;
}

.list-box-item .tail .tail-right {
  font-size: 1em;
  position: absolute;
  right: 20px;
  bottom: 0;
}

.list-box-item .tail .tail-left {
  font-size: 0.7em;
  position: absolute;
  left: 0;
  bottom: 0;
}

.list-box-item .content input:hover,
.list-box-item .content textarea:hover,
.list-box-item .content input:focus,
.list-box-item .content textarea:focus {
  border: solid 1px #e6e6e6;
  outline: none;
}

.list-box-item .content input.title {
  font-size: 1em;
  text-transform: uppercase;
}

.list-box-item .content textarea {
  resize: none;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}
